body {
    font-family: "open sans", arial, sans-serif;
    font-size: 14px;
    color: #333;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'open sans condensed bold', arial, sans-serif;
}

#main {
    min-height: 500px;
}

.width-50 {
    max-width: 50px;
    min-width: 50px;
}

.text-right, .table th.text-right, .table td.text-right {
    text-align: right;
}
#men_fel_tab{
    margin-top: 10px;
}
.theme_font{
    font-family: "Kulturista-Semi-Bold";
}

.main_menu{
    font-family: "Kulturista-Semi-Bold";
    text-decoration: none;
    font-size: 20px;
}

.main_menu a:hover{
    color: #BE2326;
}